@model EcomSiteMVC.Models.DTOs.LoginDTO
@{
	ViewData["Title"] = "Login";
}

<style>
	.form-container {
		max-width: 25rem;
		min-width: 20rem;
		background-color: white;
	}

	.form-group {
		margin-bottom: 1rem;
	}

		.form-group input {
			/* text-align: center; */
			padding-top: 0.8rem;
			padding-bottom: 0.8rem;
		}

	.password {
		padding-right: 2.5rem;
	}

	#togglePassword {
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		cursor: pointer;
		user-select: none;
		color: gray;
	}

	.login-button, .google-button {
		display: flex;
		height: 3rem;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		text-decoration: none;
	}

		.google-button:hover {
			color: #0d6efd;
			transition: 0.1s;
			background: none;
			border-color: #0d6efd;
		}

	.divider {
		display: flex;
		align-items: center;
		text-align: center;
		margin: 1rem 0;
	}

		.divider::before,
		.divider::after {
			content: "";
			flex: 1;
			border-bottom: 1px solid #ddd;
		}

		.divider::before {
			margin-right: 0.5em;
		}

		.divider::after {
			margin-left: 0.5em;
		}
</style>

<div class="form-container p-3 mt-5 border rounded-3 m-auto text-center shadow">
	<h1 class="text-center mb-4">@ViewData["Title"]</h1>
	<form asp-action="Login" method="post">
		<div class="form-group">
			<input placeholder="Username" asp-for="Username" class="form-control" />
			<span asp-validation-for="Username" class="text-danger"></span>
		</div>
		<div class="form-group position-relative">
			<input id="passwordInput" placeholder="Password" asp-for="PasswordHash" type="password" class="form-control password" />
			<span asp-validation-for="PasswordHash" class="text-danger"></span>
			<span id="togglePassword"
			   class="material-symbols-outlined position-absolute">
				visibility_off
			</span>
		</div>
		<div class="form-check">
			<input asp-for="RememberMe" class="form-check-input" type="checkbox" id="RememberMeCheckbox" />
			<label asp-for="RememberMe" class="form-check-label float-start" for="RememberMeCheckbox">
				Remember Me
			</label>

			<a asp-controller="Auth" asp-action="ForgotPassword" class="float-end text-decoration-none"><b>Forgot Password</b></a>
		</div>

		<button type="submit" class="login-button btn btn-primary w-100 mt-3 mb-3">Login</button>

		<span>
			Don't have and account?
			<a asp-controller="Auth" asp-action="RegisterView" style="text-decoration: none;">Signup</a>
		</span>

		<div class="divider">
			<span>or</span>
		</div>

		<a asp-controller="Auth" asp-action="GoogleLoginPage" class="google-button btn btn-outline-dark w-100">
			<i class="fab fa-google" style="margin-right: 5px;"></i> Sign-in with Google
		</a>
	</form>
</div>

@*Importing toogle script*@
@await Html.PartialAsync("_TogglePasswordScript")