@{
    var isSuperAdmin = User.IsInRole("Superadmin");
    var isAdmin = User.IsInRole("Admin");
    var isAuthenticated = User.Identity.IsAuthenticated;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcomSiteMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EcomSiteMVC.styles.css" asp-append-version="true" />

    <style>
        /* Dropdown on hover */
        /* .navbar .dropdown:hover .dropdown-menu {
            display: block;
        } */

        .dropdown-menu {
            width: auto;
            min-width: unset;
        }

        .body.container {
            max-width: 95%; /* Increase the max-width */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 p-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EcomSiteMVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div>
                        <ul class="navbar-nav flex-grow-1">
                            @if (!isAdmin && !isSuperAdmin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="CustomerProductView">Products</a>
                                </li>
                            }
                            @if (isAdmin || isSuperAdmin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Category" asp-action="CategoryViewPage">Category</a>
                                </li>

                                <!-- Product Dropdown -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Products
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="productsDropdown">
                                        <li><a class="dropdown-item" asp-controller="Product" asp-action="AddProductView">Add Product</a></li>
                                        <li><a class="dropdown-item" asp-controller="Product" asp-action="AllProductView">View Products</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Orders</a>
                                </li>
                            }

                            @if (isSuperAdmin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="AddAdminView">Add Admin</a>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="buttons">
                        @if (isAuthenticated)
                        {
                            <div class="dropdown">
                                <a class="btn btn-primary dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @User.Identity.Name
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    <li><a class="dropdown-item" asp-controller="User" asp-action="ProfileView">Profile</a></li>
                                    <li><a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Logout</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a class="btn btn-outline-primary" asp-controller="Auth" asp-action="RegisterView">Sign Up</a>
                            <a class="btn btn-primary" asp-controller="Auth" asp-action="LoginView">Login</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="body container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-center footer text-muted">
        <div class="container">
            &copy; 2024 - EcomSiteMVC
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await Html.PartialAsync("_Toast")
    @await RenderSectionAsync("Scripts", required: false)
    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>
