@using EcomSiteMVC.Core.DTOs
@{
	ViewData["Title"] = "Forgot Password?";
}

@model ResetPasswordDTO

<link rel="stylesheet" href="~/css/Auth.css" type="text/css" />

<div class="form-container p-3 mt-5 border rounded-3 m-auto text-center shadow">
	<h1 class="text-center mb-2">@ViewData["Title"]</h1>
	<p class="text-secondary mb-4">Enter your email, we will send you a reset link.</p>

	<form asp-action="SendForgotPasswordLink" method="post">
		<div class="form-floating">
			<input type="email" asp-for="Email" name="email" class="form-control form-group" placeholder="Email" />
			<label>Email</label>
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>

		<button type="submit" class="sendlink-button btn btn-primary w-100 mt-3 mb-3">Send Link</button>
	</form>
</div>