@model EcomSiteMVC.Models.Entities.Cart

<style>
    .quantity-button {
        border: none;
        background: transparent;
        padding: 0;
        margin: 0;
        vertical-align: middle;
        color: #828282;
        transition: 0.3s;
    }

        .quantity-button:hover {
            color: black;
            transition: 0.3s;
        }
</style>

<h2>Your Cart</h2>
@if (Model != null && Model.CartItems.Any())
{
    <div class="table-responsive">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                    <tr>
                        <td>@item.Product.ProductName</td>
                        <td>
                            <button class="quantity-button">
                                <span class="material-symbols-outlined">
                                    add_circle
                                </span>
                            </button>
                            @item.Quantity
                            <button class="quantity-button">
                                <span class="material-symbols-outlined">
                                    do_not_disturb_on
                                </span>
                            </button>
                        </td>
                        <td>$@item.UnitPrice</td>
                        <td>$@(item.Quantity * item.UnitPrice)</td>
                        <td>
                            <button class="btn btn-success btn-sm">
                                <span class="material-symbols-outlined">
                                    edit_note
                                </span>
                            </button>

                            <button class="btn btn-danger btn-sm">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>Total Amount: $@Model.TotalAmount</p>
        <button class="btn btn-primary">Proceed to Checkout</button>
    </div>
}
else
{
    <p>Your cart is empty.</p>
}
