@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .main-container {
        height: 75vh;
    }

    .child-container{
        border-radius: 2rem;
    }
</style>

<div class="main-container d-flex justify-content-center align-items-center flex-column">
    <div class="child-container text-white text-center bg-danger p-3">
        <h1 class="fw-bold">404</h1>
        <h3>NOT FOUND</h3>
    </div>
</div>