@using EcomSiteMVC.Core.DTOs
@model LoginDTO
@{
    ViewData["Title"] = "Admin Login";
}
<style>
    .form-container {
        max-width: 25rem;
        min-width: 10rem;
        width: 25rem;
        background-color: white;
    }

    .form-group {
        margin-bottom: 1rem;
    }

        .form-group input {
            /* text-align: center; */
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
        }

    .login-button {
        height: 3rem;
        align-content: center;
        font-weight: 700;
    }
</style>

<div class="min-vh-100 d-flex">
    <div class="form-container p-3 border rounded-3 m-auto text-center shadow">
        <h1 class="text-center mb-4">@ViewData["Title"]</h1>
        <form asp-action="AdminLogin" method="post">
            <div class="form-group">
                <input placeholder="Username" asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input placeholder="Password" asp-for="PasswordHash" type="password" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>

            <button type="submit" class="login-button btn btn-primary w-100 mt-3">Login</button>
        </form>
    </div>
</div>